* {
  font-size: 14px;
  --w-50: 50%
}
textarea {
  display: inline-block;
  width: 100%;
}
.m-0 {
  margin: 0;
}
h3 {
  width: var(--w-50);
}
.btn-group {
  width: var(--w-50);
}
.logout-btn {
  float: right;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.float-r {
  float: right;
}
.primary-btn {
  background-color: #00977b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.extension-container {
  width: var(--w-50);
}
.extension-container > div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.mb-1 {
  margin-bottom: 1rem;
}
